* {
	padding:0;
	margin:0;
	box-sizing:border-box;
}
html {
 height: 100%;
 box-sizing: border-box;
}
body {
	position: relative;
	margin: 0;
	padding-bottom: 3rem;
	min-height:100%;
	background-color:Linen;
	font-family: 'Open Sans', sans-serif;
}

.header {
	padding:15px;
	background-color:darkslategrey;
	text-align:left;
	color:white;
}
#okvir {
 margin: 0 auto;
 box-sizing: inherit;
 background-color:white;
}

ul {
	background-color:LightGray;
	color:white;
	padding:12px;
	list-style-type:none;
	overflow:hidden;
}

ul > li {
	float:left;
	display:block;
}

li > a{
	display:block;
	padding:0 14px;
	color:darkslategrey;
    font-size:20px;
	text-align:center;
	text-decoration:none;
}

li > a:hover, .dropdown:hover .drop{
	color:white;
}

.desno {
	float:right;
}

@media screen and (max-width: 800px) {
	ul.navigacija li, ul.navigacija li.desno {float:none;}
	li > a {text-align:left;}
}

.dropdown-content {
	width:100px;
	position:absolute;
	display:none;
	background-color:darkslategrey;
	z-index:1;
}

.dropdown-content a {
	display:block;
	text-decoration:none;
	text-align:left;
	color:white;
	padding:8px;
}

.dropdown:hover .dropdown-content {
	display:block;
}

.dropdown-content a:hover {
	background-color:lightslategrey;
}

.futer {
 position:absolute;
 box-sizing: inherit;
 right: 0;
 bottom: 0;
 left: 0;
 padding: 1rem;
 text-align: center;
 background-color:DarkSlateGrey;
}




	





















