* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}
html {
 height: 100%;
 box-sizing: border-box;
 scroll-behavior: smooth;
}


body {
	position: relative;
	margin: 0;
	padding-bottom: 3rem;
	min-height:100%;
	font-family: 'Open Sans', sans-serif;
}

.header {
	padding-top:10px;
	background-color:white;
	text-align:left;
	border-bottom: 2px solid	#800000;
}


/*LOGO I SOCIAL*/
	#logo-i-social{
		display: flex;
	}

	#logo-holder{
		flex-grow: 1;
	}

	#social-holder{
		flex-grow: 1;
		text-align: right;
	}

	#social-holder a {
		text-decoration: none;
	}

	#logo-holder img{
		height: 100px;
		width: 180px;	
	}


/*NAVIGACIJA*/
	#navigacija{
		display: flex;
	}

	#navigacija a{
		text-align: center;
		display: block;    /*zbog ovoga se moze pedding definisati */
		padding: 10px 30px;
		text-decoration: none;
		color:darkslategrey;
		transition: 300ms;    /* vreme za hover promenu */
		font-weight: bold;
	}

	#navigacija a:hover,
	#navigacija a.active{   /*kada se nalazimo na nekoj stranici */
		background: lightslategrey;
		color: white;
	}

	#navigacija >div >div>a{
		display: block;
		padding: 10px 30px;
		text-decoration: none;
		color:darkslategrey;
		transition: 300ms;
		
	}
	#navigacija >div >div>a:hover{
		background: lightslategrey;
		color: white;
		transition: 150ms;
		
	}
	#navigacija >div >div{
		display:none;
		position:absolute;
		min-width: 150px;
		background-color: #fff;
	}
	#navigacija >div:hover>div{
		display:block;
		z-index:1;
	}
	.drop-content{
		position:relative;
	}
	.drop-content >div >a{
		display: block;
		padding: 10px 30px;
		text-decoration: none;
		color:darkslategrey;
		transition: 300ms;
	}
	.drop-content >div >a:hover{
		background: lightslategrey;
		color: white;
		transition: 150ms;
	}
	.drop-content >div {
		display:none;
		position:absolute;
		bottom:0px;
		left:150px;
		min-width: 150px;
		background-color: #fff;
	}
	.drop-content:hover div{
		display:block;
		z-index:1;
	}





.column{
	width: 1000px;
	margin: 0px auto;  /* centrirano u odnosu na okruzujuci div */
}
.page .column{
	height: 100vh;  
}

#okvir {
 margin: 0 auto;
}




/*STRANICA*/
	#formular1{
		text-align:center;
		color:#ffffff;
		background:url('img/pozadina1.png');
		background-size: cover; 
		background-attachment:fixed;
		padding-bottom:50px;
	}

	#formular1 h1{
		font-size: 40pt;
		margin-top: 0px;
		padding-top: 40px;  /*prvo smo sa inspect izracunali koliko treba a onda pisemo ovo*/
	}

	#logovanje {
		border:1px solid #ffffff;
		background: #33333350;  /*poslednja dva broja odredjuju koliko nam se element providi*/
		font-size: 24pt;
		padding: 40px;
		margin-top: 30px;
		text-align: left;
		
	}
	#logovanje label{
		padding:12px;
		padding-bottom:15px;
	}
	#logovanje input{
		padding: 10px;
		border: 1px solid #555;
		border-radius: 5px 5px;
	}

	#logovanje button {
		font-size: 15px;
		color: #557;
		font-weight: bold;
		border-radius: 8px 8px;
		transition-duration: 0.3s;
		border: 1px solid black;
		padding: 12px 20px;
	} 

	#logovanje button:hover {
	  background-color:DarkSlateGrey ;
	  color: #fff;
	}

	#input-adresa{
		border: 1px solid #555;
		border-radius: 5px 5px;
	}




/*FUTER*/
	.footer{
		border-top: 3px solid #dc0101;
		background: #fefefe;
		font-size: 13px;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		
	}

	.footer > .column{
		display:flex;
		margin: 0px auto;
	}

	.footer .footer-column{
		flex-grow: 1;
		flex-basis: 0;
		padding-top: 20px;
		padding-bottom:20px;
	}


	.align-center{
		text-align: center;
		
	}

	.align-left{
		text-align:left;
	}

	.align-right{
		text-align: right;
	}

	.red-link{
		text-decoration: none;
		color: #800000;
	}

	.red-link:hover{
		text-decoration: underline;
		
	}
	h5 {
		font-size: 13px;
	}





@media only screen and (max-width: 800px){
.column{
		width: 100vw;
		padding: 0 20px;
	}
.page .column{
		height: auto;
		padding-bottom: 150px;
	}
	
}