* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}
html {
 height: 100%;
 box-sizing: border-box;
 scroll-behavior: smooth;
}


body {
	position: relative;
	margin: 0;
	padding-bottom: 3rem;
	min-height:100%;
	font-family: 'Open Sans', sans-serif;
}



.header {
	padding-top:10px;
	background-color:white;
	text-align:left;
	border-bottom: 2px solid	#800000;
}


/*LOGO I SOCIAL*/
	#logo-i-social{
		display: flex;
	}

	#logo-holder{
		flex-grow: 1;
	}

	#social-holder{
		flex-grow: 1;
		text-align: right;
	}

	#social-holder a {
		text-decoration: none;
	}

	#logo-holder img{
		height: 100px;
		width: 180px;	
	}


/*NAVIGACIJA*/
	#navigacija{
		display: flex;
	}
	#navigacija >div{
		position:relative;
	}
	#navigacija a{
		text-align: center;
		display: block;    /*zbog ovoga se moze pedding definisati */
		padding: 10px 30px;
		text-decoration: none;
		color:darkslategrey;
		transition: 300ms;    /* vreme za hover promenu */
		font-weight: bold;
	}

	#navigacija a:hover,
	#navigacija a.active{   /*kada se nalazimo na nekoj stranici */
		background: lightslategrey;
		color: white;
	}
	#navigacija >div >div>a{
		display: block;
		padding: 10px 30px;
		text-decoration: none;
		color:darkslategrey;
		transition: 300ms;
		
	}
	#navigacija >div >div>a:hover{
		background: lightslategrey;
		color: white;
		transition: 150ms;
		
	}
	#navigacija >div >div{
		display:none;
		position:absolute;
		min-width: 150px;
		background-color: #fff;
	}
	#navigacija >div:hover>div{
		display:block;
		z-index:1;
		background:gainsboro;
	}
	





.column{
	width: 1000px;
	margin: 0px auto;  /* centrirano u odnosu na okruzujuci div */
}
.page .column{
	height: 100vh;  
}
#okvir {
 margin: 0 auto;
}



/*STRANA*/#sadrzaj {
		border:1px solid #ffffff;
		background:  #33333350;  /*poslednja dva broja odredjuju koliko nam se element providi*/
		font-size: 24pt;
		padding: 40px;
		padding-left:150px;
		margin-top: 30px;
		text-align: left;
		max-height:450px;
		overflow:auto;
	}
	#sadrzaj label{
		padding:12px;
		padding-bottom:15px;
		font-size:20px;
		
	}
	#sadrzaj input{
		padding: 7px;
		border: 1px solid #555;
		border-radius: 5px 5px;
		margin:3px;
	}
	
	/*#sadrzaj {
		border:1px solid #ffffff;
		background:  #33333350;  /*poslednja dva broja odredjuju koliko nam se element providi
		font-size: 24px;
		padding: 40px;
		padding-left:150px;
		margin-top: 30px;
		text-align: left;
		height:450px;
		overflow:auto;
	}
	#sadrzaj label{
		padding:12px;
		padding-bottom:15px;
		font-size: 24px;
	}
	#sadrzaj input{
		padding: 10px;
		border: 1px solid #555;
		border-radius: 5px 5px;
		font-size:18px;
	}*/

	#sadrzaj button {
		font-size: 15px;
		color: #557;
		font-weight: bold;
		border-radius: 8px 8px;
		transition-duration: 0.3s;
		border: 1px solid black;
		padding: 5px 20px;
		margin-left:20px;
		
	} 

	#sadrzaj button:hover {
	  background-color:DarkSlateGrey ;
	  color: #fff;
	}


		#kartica{
			text-align:center;
			color:#ffffff;
			background: URL('img/pozadina1.png');
			background-size: cover; 
			background-attachment:fixed;
		}

		#kartica h1{
			color:	#fff;
			font-size: 38pt;
			margin-top: 0px;
			padding-top: 60px; 
		}
		
		ul li{
			
			list-style: none;
			text-align:left;
			font-size: 22px;
	
		}
		ul li label{
			font-size:22px;
		}
		select{
			margin-bottom:3px;
			padding-bottom: 5px;
			padding-top: 5px;
			border: 1px solid #555;
			border-radius: 5px 5px;
			width:300px;
			
		}
		#brojflajeralabela{
			padding-top:200px;
		}
		#uputstvo{
			font-size:24px;
		}
		#uputstvo h4{
			margin-top:30px;
		}


/*FUTER*/
	.footer{
		border-top: 3px solid #dc0101;
		background: #fefefe;
		font-size: 13px;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		
	}

	.footer > .column{
		display:flex;
		margin: 0px auto;
	}

	.footer .footer-column{
		flex-grow: 1;
		flex-basis: 0;
		padding-top: 20px;
		padding-bottom:20px;
		padding-left:10px;
	}


	.align-center{
		text-align: center;
		
	}

	.align-left{
		text-align:left;
	}

	.align-right{
		text-align: right;
	}

	.red-link{
		text-decoration: none;
		color: maroon;
	}

	.red-link:hover{
		text-decoration: underline;
		
	}
	h5 {
		font-size: 13px;
	}



@media only screen and (max-width: 800px){
	.column{
		width: 100vw;
		padding-right:17px;
	}


.page .column{
		height: auto;
		padding: 0 30px;
		padding-bottom: 150px;
	}
	
	#sadrzaj {
		padding-left:70px;
	}
	#html-kod, #ulica{
		max-width:300px;
	}
	
	#navigacija{
		flex-direction:column;
		
	}
	
	#navigacija >div >div{
		position:relative;
	}
	#navigacija >div:hover>div{
		top:2px;
	}
	
	}