* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}
html {
 height: 100%;
 box-sizing: border-box;
 scroll-behavior: smooth;
}


body {
	position: relative;
	margin: 0;
	padding-bottom: 3rem;
	min-height:100%;
	font-family: 'Open Sans', sans-serif;
}



.header {
	padding-top:10px;
	background-color:white;
	text-align:left;
	border-bottom: 2px solid	#800000;
}


/*LOGO I SOCIAL*/
	#logo-i-social{
		display: flex;
	}

	#logo-holder{
		flex-grow: 1;
	}

	#social-holder{
		flex-grow: 1;
		text-align: right;
	}

	#social-holder a {
		text-decoration: none;
	}

	#logo-holder img{
		height: 100px;
		width: 180px;	
	}


/*NAVIGACIJA*/
	#navigacija{
		display: flex;
	}
	#navigacija >div{
		position:relative;
	}
	#navigacija a{
		text-align: center;
		display: block;    /*zbog ovoga se moze pedding definisati */
		padding: 10px 30px;
		text-decoration: none;
		color:darkslategrey;
		transition: 300ms;    /* vreme za hover promenu */
		font-weight: bold;
	}

	#navigacija a:hover,
	#navigacija a.active{   /*kada se nalazimo na nekoj stranici */
		background: lightslategrey;
		color: white;
	}
	#navigacija >div >div>a{
		display: block;
		padding: 10px 30px;
		text-decoration: none;
		color:darkslategrey;
		transition: 300ms;
		
	}
	#navigacija >div >div>a:hover{
		background: lightslategrey;
		color: white;
		transition: 150ms;
		
	}
	#navigacija >div >div{
		display:none;
		position:absolute;
		min-width: 150px;
		background-color: #fff;
	}
	#navigacija >div:hover>div{
		display:block;
		z-index:1;
		background:gainsboro;
	}
	




.column{
	width: 1000px;
	margin: 0px auto;  /* centrirano u odnosu na okruzujuci div */
}
.page .column{
	height: 100vh;  
}
#okvir{
	margin: 0px auto;
}


/*PRVA STRANA*/
	#pocetna{
		text-align:center;
		color:#ffffff;
		background:url('img/pozadina1.png');
		background-size: cover; 
		background-attachment:fixed;
	}


	.flex-container {
		flex-grow: 1;
		display: flex;
		justify-content:space-evenly;
		flex-direction:row;
		border:1px solid #fff;
		background: #33333350;  /*poslednja dva broja odredjuju koliko nam se element providi*/
		font-size: 24pt;
		padding: 20px;
		display:flex;
	}

		
	.flex-container >div {
		border:1px solid #ffffff;
		text-align: justify;
		color:#fff;
		padding:20px;
		margin:2px;
		font-size:20px;
		
	}

	#pocetna h1{
		font-size: 44pt;
		margin-top: 0px;
		padding-top: 40px;  /*prvo smo sa inspect izracunali koliko treba a onda pisemo ovo*/
		padding-bottom: 30px;
	}

	#c h2,
	#d h2{
		font-size:28px;
	}



	#c{
		
		display: flex;
		flex-direction:column;
	}

	#skrol{
		
	  overflow-y:auto;  
	   height:0px;/* visina je 0 pa se sigurno postavlja scrollbar */
	   flex:auto;  /* sam div se razvlači koliko može, a višak sadržaja može da
	se vidi skrolovanjem */
	  padding: 30px ;
	}
	ul li{
		list-style:number;
	}
	#d {
		align-self:flex-start;
		max-width:500px;
	}




/*FUTER*/
	.footer{
		border-top: 3px solid #dc0101;
		background: #fefefe;
		font-size: 13px;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		
	}

	.footer > .column{
		display:flex;
		margin: 0px auto;
	}

	.footer .footer-column{
		flex-grow: 1;
		flex-basis: 0;
		padding-top: 20px;
		padding-bottom:20px;
		padding-left:10px;
	}


	.align-center{
		text-align: center;
		
	}

	.align-left{
		text-align:left;
	}

	.align-right{
		text-align: right;
	}

	.red-link{
		text-decoration: none;
		color: maroon;
	}

	.red-link:hover{
		text-decoration: underline;
		
	}
	h5 {
		font-size: 13px;
	}

	#okvir {
	 margin: 0 auto;
	}





@media only screen and (max-width: 800px){
	.flex-container{
			flex-direction: column;
			padding-top:30px;
			padding-bottom:20px;
		
		}
	#skrol{
		height: 150px;
	}
	.column{
		width: 100vw;
		padding-right:17px;
	}


.page .column{
		height: auto;
		padding: 0 30px;
		padding-bottom: 150px;
	}
	
	#sadrzaj {
		padding-left:70px;
	}
	#html-kod, #ulica{
		max-width:300px;
	}
	
	#navigacija{
		flex-direction:column;
		
	}
    
	#navigacija >div >div{
		position:relative;
	}
	#navigacija >div:hover>div{
		top:2px;
	}
	
}